@media (max-width: 480px) {
  
    #container #cards {
       display: flex;
       flex-direction: column;
     
    }

    #cards {
        width: 22rem;
    }

    #cards .card h1,
    #cards .card p,
    #cards .card a {
        margin-top: 2   rem;
        color: #ffffff;
    }

    #container #cards #sedans {
        border-top-left-radius: .6rem ;
        border-top-right-radius: .6rem;
        border-bottom-left-radius: 0; 
    }

    #container #cards #luxury {
        border-bottom-left-radius: .6rem;
        border-top-right-radius: 0; 
       
    }
} 